.newTask {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.input {
    width: 300px;
    padding: 10px 20px; 
    margin: 15px 60px;
    border: 1px solid rgb(22, 20, 20);
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 16px;
    align-self: flex-end;
}

.addButton {
    width: 300px;
    color: whitesmoke;
    background-color: rgb(22, 20, 20);
    border-radius: 12px;
    padding: 10px 20px; 
    margin: 15px 60px;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    align-self: flex-start;
}
.addButton:hover {
    background-color: whitesmoke;
    color: rgb(22, 20, 20);
    border: 0.5px solid  rgb(22, 20, 20);
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
